{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap %}


{% block body %}
    {% if vendor %}
        <div class="col-lg-12 text-center">
            <div class="alert alert-success">
                Menus for the Vendor <strong>{{ vendor }}</strong>
            </div>
        </div>
    {% endif %}
    <div class="col-lg-8">
            <form action="/vendors/" method="post">
                {% csrf_token %}
                {{ form|bootstrap_horizontal:'col-lg-2' }}
                <div class="col-lg-4">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>
    </div>
    <div class="col-lg-12 text-center">
        <div class="form-group col-lg-4"><strong>Items</strong></div>
        <div class="form-group col-lg-4"><strong>Price(in INR)</strong></div>
        <div class="form-group col-lg-4"><strong>Description</strong></div>

        {% for item, desc in vendormenu.items %}
            <div class="form-group col-lg-4"><u>{{item}}</u></div>
            <div class="form-group col-lg-4">{{desc.1}}</div>
            <div class="form-group col-lg-4">{{desc.0}}</div>
        {%endfor%}
    </div>
{% endblock %}


